

<h1 id="welcome"> Take Attendance for {{subject}} </h1>

	<form id="attendanceForm" action="/attendance" method="POST">
		<p> Enter Date </p>
		<input type="text" name="date" id="date"> </input>
		<input id="subjectId" type="hidden" name="subject" value="{{subject}}">

		{{#each students}}
			<p> {{this.systemNumber}} {{this.first_name}} {{this.last_name}}</p>
			<a href="/attendance-logs/{{this.systemNumber}}">Days Absent</a>

			<select class="studentSelect" name="newAttendance_{{this.id}}" data-studentId="{{this.id}}">
			  <option value="present">Present</option>
			  <option value="tardy-excused">Tardy-Excused</option>
			  <option value="tardy-unexcused">Tardy-Unexcused</option>
			  <option value="absent">Absent</option>
			</select>
		{{/each}}
		<br><br>

		<button class="submitButton attendanceButton"> Submit Attendance </button><br><br>
	</form>

{{!-- {{#each student}} --}}
	<p>Days Absent: {{presentDays}}</p>
{{!-- {{/each}} --}}

<script type="text/javascript">

// var presenceStatus = $("select");
// var attendance= [];

// $(".submitButton").on("click", function(){

// 			var date = $("#date");
// 			console.log(date);

// 			var subject = $("#subjectId").val();
// 			console.log(subject);

// 			presenceStatus.each(function(i,presence){
// 			    var student_id = presence.attr("data-studentId");
// 			    attendance.push({
// 			        "student_id": student_id,
// 			        "date": date,
// 			        "subject":subject,
// 			        "presence": presence.val()
// 			    })

// 			    console.log(attendance);
// 			});

//  $.post("/attendance", attendance, function(data) {});

// });

</script>



