<h1 id="welcome"> Attendance </h1>

<h2> Take Attendance for {{this.subject_id}} </h2>

 
	
		
	<form id="attendanceForm" action="/{{this.student_id}}?_method=PUT" method="POST">
		<p> Enter Date </p> 
		<input type="text" name="date"> </input>
		{{#each student}}
			<p> {{this.student_id}} {{this.first_name}} {{this.last_name}}</p> 

			<select name="newAttendance">
			  <option value="present">Present</option>
			  <option value="tardy">Tardy</option>
			  <option value="absent">Absent</option>
			</select>
		{{/each}}
		<button class="submitButton"> Submit Attendance </button>
	</form>
		
	



