<h1 id="welcome"> Your Roster </h1>

<h2> Your Class for {{subject}} </h2>

	{{!-- <form id="attendanceForm" action="/students" method="POST"> --}}
		{{!-- <p> Enter Date </p> --}}
		{{!-- <input type="text" name="date" id="date"> </input> --}}
		{{!-- <input id="subjectId" type="hidden" name="subject" value="{{subject}}"> --}}

		{{#each students}}
			<p> {{this.systemNumber}} {{this.first_name}} {{this.last_name}}</p>

		{{/each}}
<h2> Add A New Student</h>
	<form class="create-update-form" action="/students" method="POST">
	<p>Enter New Student Info</p>
	  <div class="form-group">
	  <fieldset class="linen">
	  	<legend> <p> Student Info </p> </legend>
	  	<label for="num">Student Number:</label>
	  	<input type="text" id="num" name="systemNumber">
	  	<label for="fn">First Name:</label>
	  	<input type="text" id="fn" name="first_name">
	  	<label for="ln">Last Name:</label>
	  	<input type="text" id="ln" name="last_name">
	  	<label for="sub">Subject:</label>
	  	<input type="text" id="sub" name="subject" placeholder="Period One">

	  	<label for="bd">Birthday:</label>
	  	<input type="text" id="bd" name="birthday">
	  	<label for="allergies">Allergies:</label>
	  	<input type="text" id="allergies" name="allergies">
	  	<label for="iep">IEP:</label>
	  	<input type="text" id="iep" name="iep_modifications">
	  </fieldset>
	  	

	  </div>
		<button class="submitButton"> Add New Student </button>
	</form>



