<h1 id="welcome"> Your Roster </h1>

<h2> Your Class for {{subject}} </h2>

	{{!-- <form id="attendanceForm" action="/students" method="POST"> --}}
		{{!-- <p> Enter Date </p> --}}
		{{!-- <input type="text" name="date" id="date"> </input> --}}
		{{!-- <input id="subjectId" type="hidden" name="subject" value="{{subject}}"> --}}

		{{#each students}}
			<p> {{this.systemNumber}} {{this.first_name}} {{this.last_name}}</p>

		{{/each}}

		<div class="linen">
<h2> Add A New Student</h><br><br>
	<form class="create-update-form" action="/students" method="POST">

	  <div class="form-group">


	  	<label for="num">Student Number:</label>
	  	<input type="text" id="num" name="systemNumber"><br>
	  	<label for="fn">First Name:</label>
	  	<input type="text" id="fn" name="first_name"><br>
	  	<label for="ln">Last Name:</label>
	  	<input type="text" id="ln" name="last_name"><br>
	  	<label for="sub">Subject:</label>
	  	<input type="text" id="sub" name="subject" placeholder="Period One"><br>

	  	<label for="bd">Birthday:</label>
	  	<input type="text" id="bd" name="birthday" placeholder="YYYY-MM-DD"><br>
	  	<label for="allergies">Allergies:</label>
	  	<input type="text" id="allergies" name="allergies"><br>
	  	<label for="iep">IEP:</label>
	  	<input type="text" id="iep" name="iep_modifications"><br>



	  </div><br>
		<button class="submitButton"> Add New Student </button>
	</form><br><br>
	</div><br><br>



